.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
mat-card {
  box-shadow: none !important;
  //border: 1px solid #75890c !important;
  //transition: 0.3s !important;
  width: 100% !important;
  //margin: 10px 10px !important;
  //cursor: pointer !important;
  //position: relative;
  //overflow: hidden;
  //
  //.fab {
  //  z-index: 0;
  //  position: absolute;
  //}

}
