<div class="footer">
    <div class="container">
        <div class="first">
            <h4>DT BİLİŞİM GRUBU</h4>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            </p>
        </div>
        <div class="second">
            <h4>DESTEK</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>BİZE ULAŞIN</h4>
            <p>Çavuşbaşı Cumhuriyet Cad. No:391
              Beykoz/İstanbul</p>
            <p>Tel: (0850) 333 38 83</p>
            <p>Web: http://www.dtbilisimgrubu.com
            </p>

        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2020 by DT Bilişim Grubu. All rights reserved </p>
    </div>
</div>
